@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  min-height: 100%;
}

body {
  background-color: #f7eedf;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Poor Story', cursive;
}

.header {
  margin-top: 7px;
  width: 100%;
  padding: 10px 0;
  border: 2px solid #d99889;
}

.header__title {
  margin-left: 30px;
  font-size: 30px;
}

.home {
  padding-top: 15px;
  padding-bottom: 30px;
}

.home .container {
  display: flex;
  gap: 23px;
}

.cart {
  width: 100%;
  border: 2px solid #d99889;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.cart__list {
  height: 100%;
}

.cart__checkout {
  background-color: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Poor Story', cursive;
  background-color: #f6dfbe;
  border: 1px solid #d99889;
  margin: 0 15px;
}

.cart__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.cart__total {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-family: 'Xanh Mono', monospace;
}

.cart__delete {
  cursor: pointer;
  font-weight: 600;
  margin-left: 20px;
  background-color: inherit;
  border: none;
  padding: 15px;
}

.cart__info {
  margin-top: 5px;
}

.cart__item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.cards__list {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 2px solid #d99889;
  padding: 5px;
  box-sizing: border-box;
}

.card__name {
  min-height: 56px;
  margin-bottom: 10px;
}

.card__img {
  display: block;
  margin-bottom: 10px;
  max-height: 350px;
  object-fit: contain;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: 'Xanh Mono', monospace;
  font-style: italic;
}

.card__buy {
  border: 1px solid #d99889;
  cursor: pointer;
  color: #fff;
  background-color: #f6dfbe;
  padding: 5px 15px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.popup {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d99889;
}

.popup p {
  font-family: 'Xanh Mono', monospace;
}
